<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mentor Registration</title>
    <meta name="keywords" content="Mentor Registration" />
    <meta name="description" content="Mentor Registration">
    <meta name="author" content="tinhoc@outlook.com">
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="vendor/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="vendor/owlcarousel/owl.carousel.min.css" media="screen">
    <link rel="stylesheet" href="vendor/owlcarousel/owl.theme.default.min.css" media="screen">
    <link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css" media="screen">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/theme-elements.css">
    <link rel="stylesheet" href="css/theme-blog.css">
    <link rel="stylesheet" href="css/theme-shop.css">
    <link rel="stylesheet" href="css/theme-animate.css">
    <!-- Skin CSS -->
    <link rel="stylesheet" href="css/skins/default.css">
    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">
    <!-- Head Libs -->
    <script src="vendor/modernizr/modernizr.js"></script>



    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzGq41QaQqdiH0KqbYM0IrwSh0EaGfio4
        &signed_in=true&libraries=places">
    </script>
    <!--[if IE]>
			<link rel="stylesheet" href="css/ie.css">
		<![endif]-->
    <!--[if lte IE 8]>
			<script src="vendor/respond/respond.js"></script>
			<script src="vendor/excanvas/excanvas.js"></script>
		<![endif]-->
</head>

<body ng-app="app">
    <div class="body">
        <header id="header">
            <div class="container">
                <div class="logo">
                    <a href="index.html">
                        <img alt="" width="250" height="50" data-sticky-width="200" data-sticky-height="40" src="img/logo.png">
                    </a>
                </div>
                <div class="search">
                    <form id="searchForm" action="page-search-results.html" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control search" name="q" id="q" placeholder="Search..." required>
                            <span class="input-group-btn">
									<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
								</span>
                        </div>
                    </form>
                </div>
                <nav class="nav-top">
                    <ul class="nav nav-pills nav-top">
                        <li>
                            <a href="about-us.html"><i class="fa fa-angle-right"></i>About Us</a>
                        </li>
                        <li>
                            <a href="contact-us.html"><i class="fa fa-angle-right"></i>Contact Us</a>
                        </li>
                    </ul>
                </nav>
                <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="navbar-collapse nav-main-collapse collapse">
                <div class="container">
                    <ul class="social-icons">
                        <li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
                        <li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
                        <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
                    </ul>
                    <nav class="nav-main mega-menu">
                        <ul class="nav nav-pills nav-main" id="mainMenu">
                            <li class="dropdown ">
                                <a class="" href="index.html">
										Home
									</a>
                            </li>
                            <li class="dropdown ">
                                    <a class="" href="/mentor-register.html">
                                        Registration
                                    </a>
                                </li>
                            <li class="dropdown ">
                                <a class="" href="/login.html">
										Login
									</a>
                            </li>
                            <li class="dropdown ">
                                <a class="" href="index.html">
										Blog
									</a>
                            </li>
                            <li class="dropdown ">
                                <a class="" href="index.html">
										Mentorship Partnership
									</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div role="main" class="main">
            <section class="page-header page-header-color page-header-primary page-header-more-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="breadcrumb">
                                <li><a href="#">Home</a></li>
                                <li class="active">Mentor Registration</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12">
                            <h1>Register</h1>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-12 col-xs-12 col-lg-2"></div>
                    <div class="col-md-8 col-sm-12 col-xs-12 col-lg-8 text-center">
                        <ol class="breadcrumb offer">
                            <li>
                                <div class="thumbnail sell-cards-thumb">
                                    <p style="margin-bottom : 5px"><i class="fa fa-user fa-3x sell-cards-step-icon"></i></p>
                                    <div class="caption offer">
                                        <p class="sell-cards-step-txt">1.Basic Info</p>
                                    </div>
                                </div>
                            </li>
                            <li class="offer">
                                <div class="thumbnail sell-cards-thumb">
                                    <p style="margin-bottom : 5px"><i class="fa fa-ellipsis-h fa-3x sell-cards-step-dot"></i> <i class="fa fa-ellipsis-h fa-3x sell-cards-step-dot"></i></p>
                                    <div class="caption offer">
                                        <p class="sell-cards-step-txt">&nbsp;</p>
                                    </div>
                                </div>
                            </li>
                            <li class="offer ">
                                <div class="thumbnail sell-cards-thumb">
                                    <p style="margin-bottom : 5px"><i class="fa fa-briefcase fa-3x sell-cards-step-icon"></i></p>
                                    <div class="caption offer">
                                        <p class="sell-cards-step-txt">2.Career</p>
                                    </div>
                                </div>
                            </li>
                            <li class="offer ">
                                <div class="thumbnail sell-cards-thumb">
                                    <p style="margin-bottom : 5px"><i class="fa fa-ellipsis-h fa-3x sell-cards-step-dot"></i> <i class="fa fa-ellipsis-h fa-3x sell-cards-step-dot"></i></p>
                                    <div class="caption offer">
                                        <p class="sell-cards-step-txt">&nbsp;</p>
                                    </div>
                                </div>
                            </li>
                            <li class="offer " style="margin-left: -20px;">
                                <div class="thumbnail sell-cards-thumb">
                                    <p style="margin-bottom : 5px"><i class="fa fa-wrench fa-3x sell-cards-step-icon"></i></p>
                                    <div class="caption offer">
                                        <p class="sell-cards-step-txt">3.Skills</p>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <div class="col-md-2 col-sm-12 col-xs-12 col-lg-2"></div>
                </div>
                
                <div class="row" ng-controller="Step3Controller">
                    <div class="col-md-12">
                        <div class="featured-boxes">
                            <div class="row">
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-6">
                                    <div class="featured-box featured-box-primary align-left mt-xlg">
                                        <div class="box-content">
                                            <h4 class="heading-primary text-uppercase mb-md">Become A Mentee</h4>
                                            <form action="/" id="frmSignUp" method="post">

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label>Your Skill</label>
                                                            <div>
                                                                <span ng-repeat="skill in user.skills" >
                                                                    <span class="label label-primary" >
                                                                        {{skill}}
                                                                    </span>&nbsp;
                                                                </span>
                                                            </div>
                                                            <br>
                                                            <div class="input-group input-group-lg">
                                                              <input type="text" value="" class="form-control input-lg" ng-model="currentSkill">
                                                              <span class="input-group-addon" id="sizing-addon1" ng-click="addSkill()">Add</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label>Your Past Job</label>
                                                              <input type="text" value="" class="form-control input-lg">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label>Your Current Job</label>
                                                              <input type="text" value="" class="form-control input-lg">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label>How long have you been working on your skills?</label>
                                                              <input type="text" value="" class="form-control input-lg">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label>Your Prefered Job Title</label>
                                                            <div>
                                                                <span ng-repeat="job in user.jobs" >
                                                                    <span class="label label-success" >
                                                                        {{job}}
                                                                    </span>&nbsp;
                                                                </span>
                                                            </div>
                                                            <br>
                                                            <div class="input-group input-group-lg">
                                                              <input type="text" value="" class="form-control input-lg" ng-model="preferedJob">
                                                              <span class="input-group-addon" id="sizing-addon1" ng-click="addJob()">Add</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label>Prefered Location</label>
                                                            <input type="text" value="" class="form-control input-lg" ng-model="user.location" typeahead="place.description for place in getPlace($viewValue)" typeahead-on-select="onSelectPlace($item, $model, $label)">
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <div class="row">
                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <label>Agree terms of use</label>
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox">I accept the terms of use. <a href="terms-of-use"> FULL LINK HERE</a>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="submit" value="Register" class="btn btn-primary pull-right mb-xl" data-loading-text="Loading..."  >
                                                <a href="mentee-register-step-2.html" class="btn btn-default pull-right"style="margin-right: 10px;">Back</a>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="footer-ribbon">
                    <span>Get in Touch</span>
                </div>
                <div class="col-md-8">
                    <div class="contact-details">
                        <h4 class="heading-primary">Contact Us</h4>
                        <ul class="contact">
                            <li>
                                <p><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1234 Street Name, City Name, Canada</p>
                            </li>
                            <li>
                                <p><i class="fa fa-phone"></i> <strong>Phone:</strong> (123) 456-7890</p>
                            </li>
                            <li>
                                <p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:tinhoc@outlook.com">tinhoc@outlook.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="heading-primary">Follow Us</h4>
                    <div class="social-icons">
                        <ul class="social-icons">
                            <li class="facebook"><a href="http://www.facebook.com/" target="_blank" data-placement="bottom" data-tooltip title="Facebook">Facebook</a></li>
                            <li class="twitter"><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" data-tooltip title="Twitter">Twitter</a></li>
                            <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" data-tooltip title="Linkedin">Linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-1">
                        <a href="index.html" class="logo">
                            <img alt=" Website Template" class="img-responsive" src="img/logo.png">
                        </a>
                    </div>
                    <div class="col-md-7">
                        <p>© Copyright 2015. All Rights Reserved.</p>
                    </div>
                    <div class="col-md-4">
                        <nav id="sub-menu">
                            <ul>
                                <li><a href="page-faq.html">FAQ's</a></li>
                                <li><a href="terms-of-use.html">Terms Of Use</a></li>
                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>
    <!-- Vendor -->
    <!--[if lt IE 9]>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="vendor/jquery/jquery.js"></script>
    <!--<![endif]-->
    <script src="vendor/jquery.appear/jquery.appear.js"></script>
    <script src="vendor/jquery.easing/jquery.easing.js"></script>
    <script src="vendor/jquery-cookie/jquery-cookie.js"></script>
    <script src="vendor/bootstrap/bootstrap.js"></script>
    <script src="vendor/common/common.js"></script>
    <script src="vendor/jquery.validation/jquery.validation.js"></script>
    <script src="vendor/jquery.stellar/jquery.stellar.js"></script>
    <script src="vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="vendor/jquery.gmap/jquery.gmap.js"></script>
    <script src="vendor/isotope/jquery.isotope.js"></script>
    <script src="vendor/owlcarousel/owl.carousel.js"></script>
    <script src="vendor/jflickrfeed/jflickrfeed.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="vendor/vide/vide.js"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="js/theme.js"></script>
    <!-- Theme Custom -->
    <script src="js/custom.js"></script>
    <!-- Theme Initialization Files -->
    <script src="js/theme.init.js"></script>

    <script>
    var app = angular.module('app', ["ui.bootstrap","ui.bootstrap.tpls"]);

    app.factory("commonDataService", ["$q" ,function ($q) {
        
        function getPlace(val) {
            var deferred = $q.defer();

            var _places = new google.maps.places.AutocompleteService();

            // Place data from google
            _places.getQueryPredictions({input: val}, function (predictions, status) {
                if (status != google.maps.places.PlacesServiceStatus.OK) {
                    deferred.reject('error');
                } else {
                    deferred.resolve(predictions);
                }
            });

            return deferred.promise;
        }
        return {
            getPlace: getPlace
        };
    }]);

    app.controller('Step3Controller', function($scope, $locale, $timeout,commonDataService) {


        

        $scope.user = {
            skills : [],
            jobs : []
        };
        $scope.getPlace = function(val) {
            console.log('mmeeee');
            return commonDataService.getPlace(val).then(function(result) {
                return result;
            });
        };

        $scope.addSkill = function(){
            if ($scope.user.skills.indexOf($scope.currentSkill) === -1) {
                $scope.user.skills.push($scope.currentSkill);
            }
            $scope.currentSkill = "";
            console.log('$scope.user.skills',$scope.user.skills);
        }

        $scope.addJob = function(){
            if ($scope.user.jobs.indexOf($scope.preferedJob) === -1) {
                $scope.user.jobs.push($scope.preferedJob);
            }
            $scope.preferedJob = "";
            console.log('$scope.user.jobs',$scope.user.jobs);
        }

        



    });
    </script>
   
</body>

</html>
